echo fastapi > requirements.txt
echo uvicorn >> requirements.txt
echo sqlalchemy >> requirements.txt
echo "python-jose[cryptography]" >> requirements.txt
echo "passlib[bcrypt]" >> requirements.txt
echo python-multipart >> requirements.txt
echo pydantic-settings >> requirements.txt